<div class="row-fluid">
	<h4 class="subtitle col-sm-12 col-xs-12">
		First things first: tell us about yourself.
	</h4>
</div>

<div class="row-fluid">
	<div class="col-sm-6 col-xs-12">
		<input type="text" class="inputField width100percent noBackground paddingBottom5px" placeholder="Your favourite Movie" ng-model="config.favouriteMovie" required>
	</div>
	<div class="col-sm-6 col-xs-12">
		<input type="text" class="inputField width100percent noBackground paddingBottom5px" placeholder="Tv series that you are currenttly watching" ng-model="config.tvSeries" required>
	</div>
	<div class="col-sm-6 col-xs-12">
		<input type="text" class="inputField width100percent noBackground paddingBottom5px" placeholder="Which one do you prefer?" ng-model="config.bolachaOrBiscoito" required>
	</div>
	<div class="col-sm-6 col-xs-12">
		<input type="text" class="inputField width100percent noBackground paddingBottom5px" placeholder="What is the best quote ever?" ng-model="config.favouriteQuote" required>
	</div>
</div>