<div class="row-fluid">
	<h4 class="subtitle col-sm-12 col-xs-12">
		We take too serious to choose our restaurant, everyday. What kind of food do you like?
	</h4>
</div>

<ul class="row-fluid horizontalList">
	<li class="col-xs-6 col-sm-3">
		<img src="images/strangeFood.png" alt="cricket" class="img-responsive picture">
		<input id="strangeFood" type="radio" name="kindOfFood" ng-model="config.nameOfFood" value="strangeFood">
		<p>I am an Insect</p>
	</li>
	<li class="col-xs-6 col-sm-3">
		<img src="images/pasta.png" alt="pasta" class="img-responsive picture">
		<input id="pasta" type="radio" name="kindOfFood" ng-model="config.nameOfFood" value="pasta">
		<p >I love pasta</p>
	</li>
	<li class="col-xs-6 col-sm-3">
		<img src="images/meat.png" alt="meat" class="img-responsive picture">
		<input id="meat" type="radio" name="kindOfFood" ng-model="config.nameOfFood" value="meat">
		<p >Gimme meat</p>
	</li>
	<li class="col-xs-6 col-sm-3">
		<img src="images/food.png" alt="food" class="img-responsive picture">
		<input id="food" type="radio" name="kindOfFood" ng-model="config.nameOfFood" value="food" >
		<p >Is it food? I am in.</p>
	</li>

</ul>