<div class="row-fluid">
	<h4 class="subtitle">Review</h4>
</div>

<ul id="theAnswers" class="row-fluid horizontalList">
	<li class="col-sm-6 col-xs-12">
		<h5 class="answerTitle fontBold">Your favourite movie</h5>
		<p class="reviewAnswer">{{config.favouriteMovie}}</p>
	</li>
	<li class="col-sm-6 col-xs-12">
		<h5 class="answerTitle fontBold">Tv series that you are currenttly watching</h5>
		<p class="reviewAnswer">{{config.tvSeries}}</p>
	</li>
	<li class="col-sm-6 col-xs-12">
		<h5 class="answerTitle fontBold">Which one do you prefer?</h5>
		<p class="reviewAnswer">{{config.bolachaOrBiscoito}}</p>
	</li>
	<li class="col-sm-6 col-xs-12">
		<h5 class="answerTitle fontBold">What is the best quote ever?</h5>
		<p class="reviewAnswer">{{config.bestQuote}}</p>
	</li>
</ul>

<div class="row-fluid">
	<div class="col-sm-12 col-xs-12 answerContainer">
		<img src="" alt="" ng-src="images/{{config.nameOfFood}}.png" />
	</div>
</div>